<!DOCTYPE html>
<html>
<head th:replace="head :: head_fragment(title = 'top画面', scripts = ~{::script}, links = ~{::link})">


<meta charset="UTF-8">
<meta charset="UTF-8">
<title>かまいたちの夜</title>
</head>
<body>
<div th:include="head :: frag_body"></div>
	<h1>かまいたちの夜</h1>
	
	<div class="text-center">
		<!-- 
		 <input type="button" value="　データ登録ページへ　" class="btn btn-primary">
		 -->
		<!-- かまいたちの夜　データインサート -->
		<button onclick="location.href='/kamaitachi/dataInsert'" >稼働データ登録</button>
		
		<button onclick="location.href='/kamaitachi/dataDisplay'" >稼働データ表示</button>
		
		
		
		<button onclick="location.href='/top'" >キャンセル</button>
		
		
		<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingOne">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
						aria-controls="panelsStayOpen-collapseOne">内容
					</button>
				</h2>
				<div id="panelsStayOpen-collapseOne"
					class="accordion-collapse collapse show"
					aria-labelledby="panelsStayOpen-headingOne">
					<div class="accordion-body">
						<a th:href = "@{/kamaitachi/dataInsert}">稼働データ登録</a>
						<br>
						<a th:href = "@{/kamaitachi/dataDisplay}">稼働データ表示</a>
						<br>
						<a th:href = "@{/top}">TOP</a>
						
					</div>
				</div>
			</div>
		
		
		
		<!-- 
        <a href="/top" class="btn btn-secondary">キャンセル</a>
         -->
         
         
        <!--  
        <input type="submit" value="　登録　" class="btn btn-primary">
        -->
        
        
     </div>
	
	
	
</body>
</html>